<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="svnStyleCopConfig" type="SVNStyleCop.SvnStyleCopConfigSection, SVNStyleCop" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </configSections>

    <svnStyleCopConfig tempFolder="Temp">
        <svnLook location="C:\Program Files\SVN\bin\svnlook.exe" />
        <styleCop settingsFile="SVNSettings.StyleCop" maxViolationCount="20" />
        <pathPatterns>
            <clear />
            <add value="^Test/.*\.cs$"/>
            <add ignore="true" value="^Test/IgnoreMe/.*\.cs$"/>
        </pathPatterns>
    </svnStyleCopConfig>

</configuration>